:root{
    --Lightred: hsl(0, 100%, 67%);
--Orangeyyellow: hsl(39, 100%, 56%);
--Greenteal: hsl(166, 100%, 37%);
--Cobaltblue: hsl(234, 85%, 45%);
--Lightslatebluebackground: hsl(252, 100%, 67%);
--Lightroyalblue-background: hsl(241, 81%, 54%);
--Violetblue-circle: hsla(256, 72%, 46%, 1);
--Persianblue-circle: hsla(241, 72%, 46%, 0);
--White: hsl(0, 0%, 100%);
--Paleblue: hsl(221, 100%, 96%);
--Lightlavender: hsl(241, 100%, 89%);
--Darkgrayblue: hsl(224, 30%, 27%);
}
@font-face{
    font-family: 'c1';
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
@font-face{
    font-family: 'c2';
    src: url(assets/fonts/static/HankenGrotesk-Bold.ttf);
}
@font-face{
    font-family: 'c3';
    src: url(assets/fonts/static/HankenGrotesk-ExtraBold.ttf);
}
@font-face{
    font-family: 'c4';
    src: url(assets/fonts/static/HankenGrotesk-Medium.ttf);
}
*{
    padding: 0;
    margin: 0;
    font-family: 'c1','c2','c3','c4';
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    text-align: center;
    flex-flow: row nowrap;
}
header{
    background-image: linear-gradient(var(--Lightslatebluebackground),var(--Lightroyalblue-background));
   border-radius:0 0 20px 20px; 
}
 header h5{
    color: var(--Lightlavender);
    font-size: large;
    padding: 30px;
 }
 header .num{
    background-image: linear-gradient(var(--Violetblue-circle),var(--Persianblue-circle));
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 20px;
 }
 header h3{
    color: var(--White);
    font-size: 1.5em;
 }
 header .c1{
    font-size: 4em;
    color: var(--White);
    padding-top: 20px;
 }
 header .c2{
    color: var(--Lightslatebluebackground);
    font-size: large;
 }
header .text p{
font-size: 1.2em;
color: var(--Lightlavender);
padding: 10px 30px 40px 30px;
}
body .table1{
   width: 90%;
   margin:0 auto;
   background-color: var(--White);
}
body .table1 p{
    text-align: left;
    font-size: large;
    color: var(--Darkgrayblue);
    margin: 20px;
}
body .table1 table{
    width: 100%;
     border-spacing: 0 20px;
}
body .table1 .c11,.c12,.c13,.c14{
    padding: 30px;
}
body .table1 table .c11{
    background-color:rgb(255, 243, 243);
}
body .table1 table .c12{
background-color:hsl(37, 89%, 96%) ;
}
body .table1 table .c13{
    background-color: hsl(166, 100%, 97%);
}
body .table1 table .c14{
  background-color: hsl(236, 81%, 96%);  
}
body .table1 .no b{
    color: var(--Darkgrayblue);
}
body .table1 .no{
    color: rgb(155, 153, 153);
    text-align: right;
    padding: 15px;
    border-radius:0 10px 10px 0;
}
body .table1 .t1{
    color: var(--Lightred);
    font-size:large ;
    text-align: left;
    padding: 15px;
    border-radius:10px 0 0 10px;
}
body .table1 .t2{
    color: var(--Orangeyyellow);
    font-size:large ;
    text-align: left;
    padding: 15px;
    border-radius:10px 0 0 10px;
}
body .table1 .t3{
    color: var(--Greenteal);
    font-size:large ;
    text-align: left;
    padding: 15px;
    border-radius:10px 0 0 10px;
}
body .table1 .t4{
    color: var(--Cobaltblue);
    font-size:large ;
    text-align: left;
    padding: 15px;
    border-radius: 10px 0 0 10px;
}
body .table1 .click p{
    color: var(--White); 
    text-align: center;
     font-size: x-large;
  }
  body .table1 .click{
      background-color: var(--Darkgrayblue);
      border-radius: 35px;
      width: 100%;
      margin: auto;
      margin-top: 10px;
      transition: 0.5s;
      border: none;
  }
  body .table1 .click:hover{
      background-color: var(--Lightroyalblue-background);
  }
@media (min-width:1000px) {
    body{
        width: 100%;
        height: 100vh;
        text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .card{
      box-shadow: 0 3px 8px hsl(241, 100%, 89%) ;
      width: 50%;
      background-color: var(--White);
      border-radius: 20px;
    }
    .card1{
        display: flex;
        justify-content: space-between;}
        header{
            border-radius: 20px;
        }
        .table1{
            border-radius: 20px;
            padding: 30px;
        }
}